#compass, #entrepreneur_mystere, #scores {
    background: url("../img/partie/background-transparent.png") no-repeat top right;
    background-size: 70%;
}

.compass_logo {
    width: 50%;
    padding-top: 5px;
}

.entete {
    margin-top: 6px;
}

.entete .score {
    width: 21%;
    display: inline-block;
    vertical-align: bottom;
}

.entete .score .valeur {
    color: #f0a424;
    font-weight: bold;
}

.entete .logo {
    width: 54%;
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
}

.entete .temps {
    width: 21%;
    display: inline-block;
    vertical-align: bottom;
}

.indice_icone {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.indice_texte {
    display: inline-block;
    vertical-align: middle;
}

.boussole {
    width: 100%;
    height: 495px;
    margin: 20px auto auto;
    background: url("../img/partie/boussole-contour.png") no-repeat center;
}

.informations_balise {
    width: 100%;
    height: 50px;
    position: relative;
}

.informations_balise .distance {
    position: absolute;
    left: 45px;
    top: -45px;
}

.informations_balise .precision {
    position: absolute;
    right: 45px;
    top: -45px;
}

#compass .conseil {
    clear: both;
    text-align: center;
}

#compass .score p,
#compass .temps p,
#compass .conseil p,
#compass .distance p,
#compass .precision p {
    margin: 0 0 7px;
}

#compass .score p.valeur,
#compass .temps p.valeur,
#compass .distance p.valeur,
#compass .precision p.valeur {
    margin: 5px 0 10px;
}

#compass .conseil p.valeur {
    margin: 5px 0;
}

#compass_elt {
    clear: both;
    margin-top: 120px;
    transition: all 1s ease;
}

/* boussole design paysage */
section.landscape {
    background-color: red;
}

section.landscape .entete .score, section.landscape .entete .temps {
    vertical-align: middle;
    float: right;
}

section.landscape .entete .score, section.landscape .entete .temps {
    width: 20%;
    margin-right: 6px;
    text-align: center;
}

section.landscape .entete .score p, section.landscape .entete .temps p {
    display: inline-block;
    text-align: center;
}

section.landscape .entete .score p:first-child, section.landscape .entete .temps p:first-child {
    display: block;
    height: 60px;
    vertical-align: middle;
}

section.landscape .entete .temps p:first-child {
    margin-bottom: 10px;
}

section.landscape .entete .logo {
    width: 40%;
    float: left;
    display: inline-block;
    vertical-align: top;
    margin-left: 6px;
}

section.landscape .conseil .banniere_balise {
    line-height: 40px;
    height: 40px;
}

section.landscape .conseil .indice_icone {
    float: right;
    margin-right: 6px;
}

section.landscape .conseil {
    float: right;
    width: 70%;
}

section.landscape .conseil #conseilHide, section.landscape .conseil p.valeur {
    text-align: right;
}

section.landscape .boussole {
    margin: 170px auto auto;
}